/*
* @Author: Administrator
* @Date:   2018-05-18 12:53:27
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-19 23:23:44
*/
body{
	    color: #293233;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.control{
	display: none;
}
.com_item{
	height: 46.2px;
	line-height: 46.2px;
}
.record_comment
{
	display: none;
	animation:bounceInUp;
}
.com_item .item_control{
	display: none;
	/*display: inline-block;	*/
}
.com_item:hover > .item_control
{
	display: inline-block;	

}
.main{

}
.info{
	width: 288px;
	height: 48px;
	padding: 22px 0 20px;
	    font-family: punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
}
@media (max-width: @screen-xs-max) { 


}