<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分享页面</title>
	{include file='common/header'}
</head>
<body>

<div class="col-xs-10 col-xs-offset-1"> 
<div class="post" id="r_{$record.id}">
<!-- 				 <div class="control pull-right">
				    <a class="button small" href="{$Think.config.INDEX}/user_r_delete?user_id={$record.user_id}&id={$record.id}" >删除</a>
					<button type="button" class="button small" onclick="Load({$record.id})" data-toggle="modal" data-target="#update_record">编辑</button>
					<button type="button" class="button small">占位</button>
					
				  </div> -->
				  {if condition="!empty($record)"}
				  <div class="title">
					<h2>{$record.author}</h2>
					<p>{$record.content}</p>
				  </div>
				  <div class="meta">
					<span class="author name">来自LEOC趣说</span>
				  </div>
				  <footer>
					<ul class="stats">
						<li><a href="#">发表于：{$record.create_time}</a></li>
						<li><a href="#" class="icon fa-heart">{$record.hits}</a></li>
						<li><a href="javascript:(void);" class="icon fa-comment">评论</a></li>
					</ul>
					</footer>
			  	</div>
			  	{else/}
			  		<div class="text-center">
			  			<h5>小趣告诉你：</h5>
			  			<h1>这条趣说貌似根本不存在或者被删除了呢~~</h1>
			  		</div>
			  	{/if}

</div>
<div class="col-xs-10 col-xs-offset-1 text-center">
	<h4>你的好友通过<a style="color:#49c0b6">趣说</a>给你分享了他的一条趣说</h4>
	<br>
	<h5>加入<a style="color:#49c0b6">趣说</a>，查看更多！</h5>
	<div class="row ">
	<a class="button small col-xs-6" href="{$Think.config.INDEX}/user_login/index">登录</a>
	<a class="button small col-xs-6" href="{$Think.config.INDEX}/user_regist/index">注册</a>
	</div>
</div>

<div class="footer col-xs-10 col-xs-offset-1 text-center">
<br>
<br>
<br>
<br>
<section id="footer">
	<p class="copyright">每天分享好心情，就在趣说。 | Leochens</p>								
</section>
</div>

	{include file='common/script'}

</body>
</html>
