<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户注册</title>
	{include file="common/header" /}
	
</head>
<body>
	<div class="container col-lg-4 col-lg-offset-4 text-center">
	<h3>注册到Leoc</h3>
	</div>
	<form class="form-group col-lg-4 col-lg-offset-4" action="Regist/regist" method="post">
		<input class="input form-control" type="text" name="username" placeholder="用户名" ><br>
		<input class="input form-control" type="password" name="password" placeholder="密码" ><br>
		<input class="form-control btn btn-info" type="submit" value="注册">	
		<a href="Login">已有账号,去登录！</a>
	</form>
</body>
</html>