<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员界面</title>
	{include file="common/header" /}

</head>
<body>
	<h1>这里是管理员界面</h1>
	<h2>{$msg}</h2>

	<h2>用户列表</h2>
	<ul class="list">
	{volist name='userList' id='item' }
		<h3>用户{$item.id} <a href="{$Think.config.INDEX}/admin_f_user?user_id={$item.id}">禁言</a>
							<a href="{$Think.config.INDEX}/admin_uf_user?user_id={$item.id}">解禁</a></h3>
		<li>用户名 {$item.name}</li>
		<li>密码 {$item.password}</li>
		<li>是否禁言 {$item.is_forbidden}</li>
	{/volist}
	</ul>

	<h2>记事列表</h2>
	<ul>
	{volist name='recordList' id='item' }
		<h3>id: {$item.id}</h3>
		<li>标题 	{$item.title}</li>
		<li>内容 	{$item.content}</li>
		<li>作者 	{$item.author}</li>
		<li>创建时间 {$item.create_time} </li>
	{/volist}
	</ul>
	
<a href="{$Think.config.INDEX}/admin_logout">注销</a>
</body>
</html>