<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员界面</title>
	{include file="common/header" /}

</head>
<body>
	<h1 class="text-center">这里是管理员界面</h1>

<div style="margin-bottom: 25px;" class="container col-lg-10 col-lg-offset-1 text-center" >
	
<button onclick="showUsers()">显示用户信息</button>
<button onclick="showRecords()">显示说说信息</button>
<button>
<a href="{$Think.config.INDEX}/admin_logout">注销</a>
</button>
</div>
<br>
	<table class="users col-lg-8 col-lg-offset-2">
		<th>用户id</th>
		<th>用户名</th>
		<th>是否禁言(1 禁言 0 未禁言)</th>
		<th>管理</th>
		{volist name='userList' id='item' }
		<tr>
			<td>{$item.id}</td>
			{if condition="$item.is_forbidden==1"}
			<td style="color:red;">{$item.name}</td>
			{else/}
			<td>{$item.name}</td>
			{/if}
			<td>{$item.is_forbidden}</td>
			<td>
				<a href="{$Think.config.INDEX}/admin_f_user?user_id={$item.id}">禁言</a>
				<a href="{$Think.config.INDEX}/admin_uf_user?user_id={$item.id}">解禁</a>
			</td>
		</tr>
		{/volist}
		
	</table>

	<table class="records col-lg-8 col-lg-offset-2">
	<th>说说id</th>
	<th>作者</th>
	<th>创建时间</th>
	<th>内容</th>
	<th>直接管理</th>
	{volist name='recordList' id='item' }
	<tr>
		<td>{$item.id}</td>
		<td>{$item.author}</td>
		<td>{$item.create_time}</td>
		<td>{$item.content}</td>
		<td><a href="{$Think.config.INDEX}/admin_del_record?r_id={$item.id}">删除</a></td>
	</tr>
	{/volist}
	</table>


{include file="common/script" /}
<script>

	(function init()
	{
		//alert('hello');
		$('.records').hide();

	})()
	function showUsers()
	{
		$('.users').toggle();
		$('.records').hide();
	}
	function showRecords()
	{
		$('.records').toggle();
		$('.users').hide();

	}
</script>
</body>
</html>