 <div role="tabpanel" class="tab-pane fade " id="friends_records">
  		<br>
	  	<br>
		{if condition="!empty($friendsRecordList)"}
		<ul class="list">
			{volist name='friendsRecordList' id='item'}
			<li>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  <span class="h3">{$item.author}</span>
			  <span class="h3 small pull-right">添加时间:{$item.create_time}</span>
			  </div>
			  <div class="panel-body">
			    {$item.content}
			      <div class="comment">
					<form method="post" action='{$Think.config.INDEX}/user_c_add' class="form-group col-lg-12">
				  	评论：<input type="text" name='content' class="form-control">
				  	<input type="hidden" name="record_id"  value="{$item.id}">
							<input type="submit" value="提交">
						{volist name='$item.comments' id='c_item'}
					<?php 
						$arr1 =array();
						$test($c_item,$arr1);
						$arr1[0]['parent']=1;
					 ?>
			
						{volist name='arr1' id='child_item'}
							<li id="c_{$c_item.id}">
							{if condition="empty($child_item.last_comment_author)"}

								{$child_item.name}:{$child_item.content}

							{else /}

								{$child_item.name}回复{$child_item.last_comment_author}:{$child_item.content}

							{/if}
							<div class="item_control">
				<!-- 			<button type="button" class="btn btn-danger btn-sm" onclick="myCommentDel({$c_item.id},{$c_item.comment_author_id})">删除</button> -->
							
							<button type="button" class="btn btn-info btn-sm"  onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">回复</button>
							</div>
							</li>
						{/volist}
						
						{/volist}
					</form>
			  	</div>
			  </div>
			
			</div>
			</li>
			{/volist}
		</ul>
		{else/}
		<h1>获取好友记事列表失败，因为你还没有好友或好友并未发表说说。</h1>
		{/if}
	  </div>