 <div role="tabpanel" class="tab-pane fade  in active" id="friends_records">

		{if condition="!empty($friendsRecordList)"}

			{volist name='friendsRecordList' id='record_item'}
				<div class="post">
				 <div class="control pull-right">
				    <a class="button small" href="{$Think.config.INDEX}/user_r_delete?user_id={$record_item.user_id}&id={$record_item.id}" >删除</a>
					<button type="button" class="button small" onclick="Load({$record_item.id})" data-toggle="modal" data-target="#update_record">编辑</button>
				  </div>
				  <div class="title">
					<h2>{$record_item.author}</h2>
					<p>{$record_item.content}</p>
				  </div>
				  <div class="meta">
					<span class="author name">来自Vivo X21</span>
				  </div>
				  <footer>
					<ul class="stats">
						<li><a href="#">发表于：{$record_item.create_time}</a></li>
						<li><a href="#" class="icon fa-heart">{$record_item.hits}</a></li>
						<li onclick="showComment()"><a href="javascript:(void);" class="icon fa-comment">评论</a></li>
						<li>
							<script type="text/javascript">
							(function(){
							var p = {
							url:location.href,
							showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
							desc:'看我在Leoc上刚说了什么！',/*默认分享理由(可选)*/
							summary:'{$record_item.content}',/*分享摘要(可选)*/
							title:'{$record_item.author}'+'在趣说上说了..',/*分享标题(可选)*/
							site:'Leoc趣说',/*分享来源 如：腾讯网(可选)*/
							pics:'', /*分享图片的路径(可选)*/
							style:'203',
							width:98,
							height:22
							};
							var s = [];
							for(var i in p){
							s.push(i + '=' + encodeURIComponent(p[i]||''));
							}
							document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
							})();
							</script>
							<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
						</li>
					</ul>
					</footer>
				  <div class="comment">
						<form method="post" action='{$Think.config.INDEX}/user_c_add' class="form-group">
					  	<input type="text" name='content' class="form-control" placeholder="评论">
					  	<input type="hidden" name="record_id"  value="{$record_item.id}">
					  	<button class="button small" type="submit" value="提交">提交</button>
							{volist name='$record_item.comments' id='c_item'}
							<?php 
								$arr1 =array();
								$test($c_item,$arr1);
								$arr1[0]['parent']=1;
							 ?>
					
								{volist name='arr1' id='child_item'}
								<div class="row">
									<li class="com_item " id="c_{$c_item.id}">
									{if condition="empty($child_item.last_comment_author)"}

										<span class="h5" onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">{$child_item.name} : {$child_item.content}</span>

									{else /}

										<span class="h5" onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">{$child_item.name} 回复 {$child_item.last_comment_author} : {$child_item.content}</span>

									{/if}
									<div class="item_control">
									<button type="button" class="button small" onclick="myCommentDel({$c_item.id},{$c_item.record_author_id})">删除</button>
									<button type="button" class="button small"  onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">回复</button>
									</div>
									</li>
								</div>
								{/volist}
							{/volist}
						</form>
			 	  </div>
			  </div>

			{/volist}
		{else/}
		<h1>获取好友记事列表失败，因为你还没有好友或好友并未发表说说。</h1>
		{/if}
	  </div>