<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>


	{include file="common/header" /}

	<style>
		ul,li{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.control{
			visibility: hidden;
		}
	</style>
	</head>
<body>
<header>
	<div class="h3 col-lg-12 bg-info">Leoc——记事共享</div>
	<h4>{$check}</h4>
	<button class="btn btn-success" onclick="Control()">编辑</button>
	
</header>
<content>
{include file='user/index/reply'}
<div class="col-lg-8 col-lg-offset-2">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#my_records" aria-controls="home" role="tab" data-toggle="tab">我的说说</a></li>
    <li role="presentation"><a href="#add_record" aria-controls="add_record" role="tab" data-toggle="tab">添加说说</a></li>
    <li role="presentation"><a href="#friends_records" aria-controls="friends_records" role="tab" data-toggle="tab">好友说说</a></li>
    <li role="presentation"><a href="#friends_list" aria-controls="friends_list" role="tab" data-toggle="tab">好友列表</a></li>
    <li role="presentation"><a href="#add_friend" aria-controls="add_friend" role="tab" data-toggle="tab">添加好友</a></li>
    <li role="presentation"><a href="#logout" aria-controls="logout" role="tab" data-toggle="tab">注销登录</a></li>
  </ul>
 <!-- Tab panes -->
	<div class="tab-content">
		{include file='user/index/myRecords'}
		{include file='user/index/addRecord'}
		{include file='user/index/friendRecords'}
		{include file='user/index/friendList'}
		{include file='user/index/addFriend'}
		{include file='user/index/logout'}
	</div>
</div>
</content>

<div id="update_record" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑记事</h4>
      </div>
      <div class="modal-body">
		<form action="{$Think.config.INDEX}/user_r_update" method="POST" role="form">
	    <legend></legend>
	
	    <div class="form-group">
	        <label for="">请修改原来的记事</label>
	        <input id="old_record" name="content" type="text" class="form-control"  placeholder="">
	        <input type="hidden" name="id" id="old_record_id" >
	        <input type="hidden" name="user_id" id="user_id" >
	    </div>
	    <button type="submit"  class="btn btn-primary">保存</button>
		</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer>
	<h1 id="test"></h1>
	<button onclick="testData()">测试data暂存数据</button>
	<h2 id="tda"></h2>
</footer>	

<script>
	
	var dataTmp ;
	//暂存数据
	
	function pushData(record_id='',comment_id='',comment_author_id='')
	{
		//TODO：全局变量
		dataTmp=[];
		dataTmp['record_id']=record_id;
		dataTmp['comment_id']=comment_id;
		dataTmp['comment_author_id']=comment_author_id;
		$('#test').html(dataTmp['comment_id']);
		return false;
	}
	// function testData()
	// {
	// 	$('#tda').html(data['comment_id']);
	// }
	function Load(record_id)
	{
		console.log(record_id);

		$.ajax({
			url: '/index.php/index/record.Record/getSingleRecord',
			type: 'GET',
			//dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
			data: {id:record_id },

		})
		.done(function(data) {
			console.log("success");
			console.log(data);
			$('#old_record').val(data.content);
			$('#old_record_id').val(data.id);
			$('#user_id').val(data.user_id);
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	}
	function Control(){
		console.log('hello');
		flag=$(".control").css("visibility");
		if(flag=="hidden")
			$(".control").css("visibility","visible");
		else
			$(".control").css("visibility","hidden");
	}
	function myCommentDel(record_id,comment_author_id)
	{
		console.log('删除评论：'+record_id);
		$.ajax({
			url: '/index.php/user_c_del',
			type: 'GET',
			//dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
			data: {record_id:record_id,comment_author_id:comment_author_id},

		})
		.done(function(data) {
			console.log("del comment:success");
			console.log('已删除 返回值： '+data);
			//删除Dom节点
			$('#c_'+record_id).remove();
		})
		.fail(function() {
			console.log("del comment:error");
		})
		.always(function() {
			console.log("del comment:complete");
		});
	}
	function reply() {
		rep_content = $('#reply_content').val()
		// if(data.length==0)
		// {
		// 	alert('暂存数据为空');
		// 	return 0;
		// }
		console.log(typeof rep_content);
		dataTmp['rep_content']=rep_content;
		console.log(dataTmp);
		console.log(rep_content);
		$.ajax({
			url: '/index.php/user_c_reply',
			type: 'POST',
			//dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
			data: {
				//从全局暂存数据得到
				'record_id':dataTmp['record_id'],
				//'comment_author_id':dataTmp['comment_author_id'],
				'parent_id':dataTmp['comment_id'],
				'rep_content':dataTmp['rep_content'],
			}

		})
		.done(function(data) {
			console.log("reply comment:success");
			console.log(data);
			//删除Dom节点
			//$('#c_'+id).remove();
		})
		.fail(function() {
			console.log("reply comment:error");
		})
		.always(function() {
			console.log("reply comment:complete");
		});
		return false;
	}
</script>	
</body>
</html>	