							<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
								<header>
									<h2>{$userinfo.name}</h2>
									<p>The World Worth People.</p>
								</header>
							</section>
						<!-- About -->
							<section class="blurb">
								<h2>关于</h2>
								<h4>Leoc —— 连接每一刻有趣的时间，对的时间，对的人。</h4>
								<ul class="actions">
									<li><a href="#" class="button">作者：张鹤麟
										
									</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								
								</ul>
								<p class="copyright">&copy; Mokis.top | <a href="http://blog.mokis.top" target="_blank">Leochens</a> - <a href="http://github.com/Leochens" title="Fork Leochens" target="_blank">Fork Me At Github</a>.</p>
							</section>