 <div role="tabpanel" class="tab-pane fade in active" id="my_records">
	  	<br>
	  	<br>

		<ul>
			{volist name='recordList' id='record_item'}
			<li>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  <span class="h3">{$record_item.author}</span>
			  <div class="control pull-right">
				    <a class="btn btn-danger" href="{$Think.config.INDEX}/user_r_delete?user_id={$record_item.user_id}&id={$record_item.id}" >删除</a>
					<button type="button" class="btn btn-warning" onclick="Load({$record_item.id})" data-toggle="modal" data-target="#update_record">编辑</button>
				</div>
			 <!--  <span class="h3 small pull-right">作者:{$record_item.author}</span> -->
			  <span class="h3 small">添加时间:{$record_item.create_time}</span>
			  </div>
			  <div class="panel-body">
			    {$record_item.content}
			    
				<div class="comment">
				<form method="post" action='{$Think.config.INDEX}/user_c_add' class="form-group col-lg-12">
			  	评论：<input type="text" name='content' class="form-control">
			  	<input type="hidden" name="record_id"  value="{$record_item.id}">
						<input class="btn btn-info" type="submit" value="提交">
					{volist name='$record_item.comments' id='c_item'}

					<?php 
						$arr1 =array();
						/**
						 * 多维评论线性化
						 * @var [type]
						 */
						$test =function($data,&$arr=array(),$last_comment_author='')use(&$test){
							if(empty($data['comment_children']))
							{
								$d = $data;
								unset($d['comment_children']);
								$d['last_comment_author']=$last_comment_author;
								$arr[]=$d;
							}else
							{
								foreach ($data['comment_children'] as $d_item) {
									$d = $data;
									unset($d['comment_children']);
									$d['last_comment_author']=$last_comment_author;
									$arr[]=$d;
									$test($d_item,$arr,$d['name']);
								}
							}
						};
						$test($c_item,$arr1);
						$arr1[0]['parent']=1;
						// echo "<pre>";
						// print_r($arr1);
						// echo "</pre>";
						//$child_comment_list=$test($c_item);
						
					 ?>
			
						{volist name='arr1' id='child_item'}
							<li id="c_{$c_item.id}">
							{if condition="empty($child_item.last_comment_author)"}

								{$child_item.name}:{$child_item.content}

							{else /}

								{$child_item.name}回复{$child_item.last_comment_author}:{$child_item.content}

							{/if}
							<button class="btn btn-danger btn-sm" onclick="myCommentDel({$c_item.id},{$c_item.comment_author_id});return false;">删除</button>
							
							<button type="button" class="btn btn-info btn-sm"  onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">回复</button>
							</li>
						{/volist}
						
					{/volist}
				

				</form>

			  	</div>
			  </div>
			</div>
			</li>
			{/volist}
		</ul>

	  </div>