
 <div  role="tabpanel" class="tab-pane fade in active" id="my_records">

		<button class="button small" onclick="Control()">编辑</button>

			{volist name='recordList' id='record_item'}
			<!-- <div class="panel panel-default"> -->
			<div class="post">
				 <div class="control pull-right">
				    <a class="button small" href="{$Think.config.INDEX}/user_r_delete?user_id={$record_item.user_id}&id={$record_item.id}" >删除</a>
					<button type="button" class="button small" onclick="Load({$record_item.id})" data-toggle="modal" data-target="#update_record">编辑</button>
				  </div>
				  <div class="title">
					<h2>{$record_item.author}</h2>
					<p>{$record_item.content}</p>
				  </div>
				  <div class="meta">
					<span class="author name">来自Vivo X21</span>
				  </div>
				  <footer>
					<ul class="stats">
						<li><a href="#">发表于：{$record_item.create_time}</a></li>
						<li><a href="#" class="icon fa-heart">{$record_item.hits}</a></li>
						<li onclick="showComment()"><a href="javascript:(void);" class="icon fa-comment">评论</a></li>
					</ul>
					</footer>
				  <div class="comment">
						<form method="post" action='{$Think.config.INDEX}/user_c_add' class="form-group">
					  	<input type="text" name='content' class="form-control" placeholder="评论">
					  	<input type="hidden" name="record_id"  value="{$record_item.id}">
					  	<button class="button small" type="submit" value="提交">提交</button>
							{volist name='$record_item.comments' id='c_item'}
							<?php 
								$arr1 =array();
								$test($c_item,$arr1);
								$arr1[0]['parent']=1;
							 ?>
					
								{volist name='arr1' id='child_item'}
								<div class="row">
									<li class="com_item " id="c_{$c_item.id}">
									{if condition="empty($child_item.last_comment_author)"}

										<span class="h5" onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">{$child_item.name} : {$child_item.content}</span>

									{else /}

										<span class="h5" onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">{$child_item.name} 回复 {$child_item.last_comment_author} : {$child_item.content}</span>

									{/if}
									<div class="item_control">
									<button type="button" class="button small" onclick="myCommentDel({$c_item.id},{$child_item.record_author_id})">删除</button>
									<button type="button" class="button small"  onmouseover="pushData({$child_item.record_id},{$child_item.id},{$child_item.comment_author_id})" data-toggle="modal" data-target="#reply_comment">回复</button>
									</div>
									</li>
								</div>
								{/volist}
							{/volist}
						</form>
			 	  </div>
			  </div>
			 	 {/volist}
</div>

			


